/* CSS For The Boring Blog Home Page */

body {
     background: rgb(11, 60, 61);
     background: linear-gradient(0deg, rgb(11, 60, 61) 66%, rgba(68,60,247,1) 94%, rgba(72,45,253,1) 100%);
}

#mainText {
     position: absolute;
     top: 15%;
     text-align: center;
     color: white;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#blogHolder {
     position: absolute;
     top: 80%;
     left: 50;
     color: white;
}

#blogHolder.li {
     list-style-type: disc;
     font-size: 20px;
     color: white;
}
